.input {
	border: 1px solid #222;
	padding: 3px;
	border-radius: 5px;
	margin-right: 10px;
}
button {
	border: 1px solid #222;
	background: #111;
	color: #eee;
	padding: 3px;
	border-radius: 5px;
	margin-right: 5px;
}
.input-text {
	width: 25%;
}
.input-time {
	width: 5%;
}